header {
    background-color: black;  
    
}

a {

color: #000;  
text-decoration: none;
font-size: 15px;
font-family: 'Fira Code', monospace;
margin-right: 150px;
font-weight: 500;
padding: 25px;

    
}

#button {
    display: inline-block;
    background-color:#7574A7;
    box-shadow: 5px 5px 3px #5659C9;
    padding: 20px 18px;
    padding-right: 25px;
    padding-left: 30px;
}