
#header {
    background: oldlace;
    text-align: center;
    margin: 25px;
    padding: 5px
}


p, h3 {
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
    max-width: 450px;
    text-align: center;
    margin: 12px auto;
    font-family: 'Courier New', Courier, monospace;
}

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  /**.fa-dowload {
    background: #bb0000;
    color: white;
  }**/
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  


 .fa {
    padding: 15px;
    font-size: 35px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
    
   .fa-github {
    background: rgb(25, 28, 31);
    color: white;

   }

  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  /*.fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }


  