html, body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background: #7159c1;
}

h1 {
    color: honeydew;
    text-align: center;
    font-size: 25px;

}
.cabecalho {
    background: grey;
    width: max-content;
    height: auto;
    
}